---
import '@fontsource-variable/montserrat';
import '../styles/global.css';
import { Image } from 'astro:assets';
import Logo from '../assets/img/wordmark-dark.png';

const { title, classes } = Astro.props;
const year = new Date().getFullYear();

let renderedTitle = 'Bloxstrap';
let mainClasses = 'flex-1 my-12';
let description = 'Bloxstrap is an alternative launcher for Roblox that provides additional useful features and functions.';

if (title)
    renderedTitle = `${title} | Bloxstrap`;

if (classes)
    mainClasses += ' '  + classes;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content={description} />
        <meta name="author" content="Bloxstrap" />
		<title>{renderedTitle}</title>
        <link rel="canonical" href={Astro.url.href} />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <meta property="og:title" content={title} />
        <meta property="og:type" content="website" />
        <meta property="og:url" content={Astro.url.href} />
        <meta property="og:locale" content="en" />
        <meta property="og:description" content={description} />
        <meta property="og:site_name" content="Bloxstrap">
	</head>
	<body class="flex flex-col min-h-screen bg-neutral-900 text-white font-display mx-auto max-w-7xl p-8">
        <nav>
            <div class="bg-neutral-950 px-4 py-4 rounded-xl flex flex-col items-center justify-between gap-y-4 sm:flex-row">
                <Image src={Logo} alt="Bloxstrap Logo" class="max-w-40" />
                <div class="flex gap-x-6 pr-2">
                    <a class="font-medium text-gray-300 hover:text-white transition duration-300" href="/wiki/">Wiki</a>
                    <a class="font-medium text-gray-300 hover:text-white transition duration-300" href="/wiki/faq/">FAQ</a>
                    <a class="font-medium text-gray-300 hover:text-white transition duration-300" href="/discord">Discord</a>
                    <a class="font-medium text-gray-300 hover:text-white transition duration-300" href="https://github.com/bloxstraplabs/bloxstrap">GitHub</a>
                </div>
            </div>
        </nav>
        <main class={mainClasses}>
			<slot />
        </main>
        <footer class="text-center">
            <p>&copy; {year} Bloxstrap developers and contributors. Bloxstrap is not affiliated with Roblox in any way.</p>
        </footer>
    </body>
</html>
